html, body {
  margin: 0;
  line-height: 1.44em;
  height: 100%;
  min-height: 100%;
  font-size: 100%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-family: sofia-pro, Helvetica, Arial, sans-serif;
  color: #122945;
  background: #00B8D4; }
  html #app, body #app {
    height: 100%; }
    html #app #header.is-hidden, body #app #header.is-hidden {
      transform: translateY(-100%); }
    html #app #header.compact, body #app #header.compact {
      transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      background-color: #122945; }
    html #app #header.compact, body #app #header.compact {
      transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      background-color: #122945; }
    html #app #header.is-hidden, body #app #header.is-hidden {
      transform: translateY(-100%); }
    html #app #header, body #app #header {
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      color: #fff;
      background: transparent;
      height: 60px; }
      html #app #header a, body #app #header a {
        color: #fff; }
      html #app #header .wrapper, body #app #header .wrapper {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: 2rem 1rem;
        padding-top: 0;
        padding-bottom: 0;
        position: relative; }
        html #app #header .wrapper .logo, html #app #header .wrapper .logo img, body #app #header .wrapper .logo, body #app #header .wrapper .logo img {
          transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
          height: 40px; }
        html #app #header .wrapper .logo, body #app #header .wrapper .logo {
          z-index: 1;
          display: block;
          position: absolute;
          width: auto;
          top: 10px;
          left: 5px; }
        html #app #header .wrapper .title, body #app #header .wrapper .title {
          position: absolute;
          left: 50px; }
          html #app #header .wrapper .title h1, body #app #header .wrapper .title h1 {
            font-size: 28px; }
        html #app #header .wrapper .button_container, body #app #header .wrapper .button_container {
          position: fixed;
          top: 18px;
          right: 10px;
          height: 27px;
          width: 35px;
          cursor: pointer;
          z-index: 100;
          transition: opacity .25s ease; }
          html #app #header .wrapper .button_container:hover, body #app #header .wrapper .button_container:hover {
            opacity: .7; }
          html #app #header .wrapper .button_container.active .top, body #app #header .wrapper .button_container.active .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: #FFF; }
          html #app #header .wrapper .button_container.active .middle, body #app #header .wrapper .button_container.active .middle {
            opacity: 0;
            background: #FFF; }
          html #app #header .wrapper .button_container.active .bottom, body #app #header .wrapper .button_container.active .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: #FFF; }
          html #app #header .wrapper .button_container span, body #app #header .wrapper .button_container span {
            background: #fff;
            border: none;
            height: 3px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .35s ease;
            cursor: pointer; }
            html #app #header .wrapper .button_container span:nth-of-type(2), body #app #header .wrapper .button_container span:nth-of-type(2) {
              top: 11px; }
            html #app #header .wrapper .button_container span:nth-of-type(3), body #app #header .wrapper .button_container span:nth-of-type(3) {
              top: 22px; }
        html #app #header .wrapper .root-menu, body #app #header .wrapper .root-menu {
          transition: all 0.3s cubic-bezier(0.9, 0, 0.1, 1);
          position: absolute;
          top: 60px;
          left: 0;
          float: right;
          overflow: hidden;
          max-height: 0;
          width: 100%;
          padding: 0;
          z-index: 10;
          background: #122945; }
        html #app #header .wrapper .root-menu > ul, body #app #header .wrapper .root-menu > ul {
          margin: 0;
          padding: 0; }
        html #app #header .wrapper .root-menu > ul > li, body #app #header .wrapper .root-menu > ul > li {
          width: 100%;
          margin: 0;
          position: relative;
          padding: 20px 0; }
          html #app #header .wrapper .root-menu > ul > li a, body #app #header .wrapper .root-menu > ul > li a {
            transition: all 0.3s cubic-bezier(0.9, 0, 0.1, 1) 0s;
            letter-spacing: .12em;
            color: #fff;
            font-weight: 400;
            display: inline-block;
            width: 100%;
            position: relative;
            text-transform: uppercase;
            font-family: Antenna Lt,Helvetica,Arial,sans-serif;
            font-size: .875em;
            text-align: center;
            text-decoration: none; }
          html #app #header .wrapper .root-menu > ul > li a.active, body #app #header .wrapper .root-menu > ul > li a.active {
            color: #00b1eb; }
          html #app #header .wrapper .root-menu > ul > li a:hover, body #app #header .wrapper .root-menu > ul > li a:hover {
            text-decoration: none; }
        html #app #header .wrapper .root-menu.open, body #app #header .wrapper .root-menu.open {
          max-height: 100em; }
    html #app .container-fluid, body #app .container-fluid {
      position: relative;
      top: 60px;
      height: calc(100% - 60px);
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
      html #app .container-fluid #main, body #app .container-fluid #main {
        color: #fff;
        min-height: calc(100% - 50px);
        margin-top: 60px; }
        html #app .container-fluid #main .result, body #app .container-fluid #main .result {
          padding-bottom: 3rem; }
        html #app .container-fluid #main .col-xs-12, html #app .container-fluid #main .col-sm-12, html #app .container-fluid #main .col-md-5, html #app .container-fluid #main .col-ls-6, body #app .container-fluid #main .col-xs-12, body #app .container-fluid #main .col-sm-12, body #app .container-fluid #main .col-md-5, body #app .container-fluid #main .col-ls-6 {
          padding: 10px; }
          html #app .container-fluid #main .col-xs-12 .advert, html #app .container-fluid #main .col-sm-12 .advert, html #app .container-fluid #main .col-md-5 .advert, html #app .container-fluid #main .col-ls-6 .advert, body #app .container-fluid #main .col-xs-12 .advert, body #app .container-fluid #main .col-sm-12 .advert, body #app .container-fluid #main .col-md-5 .advert, body #app .container-fluid #main .col-ls-6 .advert {
            position: relative;
            width: 300px;
            height: 250px;
            background: gray;
            left: calc(50% - 150px); }
          html #app .container-fluid #main .col-xs-12 h4, html #app .container-fluid #main .col-sm-12 h4, html #app .container-fluid #main .col-md-5 h4, html #app .container-fluid #main .col-ls-6 h4, body #app .container-fluid #main .col-xs-12 h4, body #app .container-fluid #main .col-sm-12 h4, body #app .container-fluid #main .col-md-5 h4, body #app .container-fluid #main .col-ls-6 h4 {
            margin: 0; }
          html #app .container-fluid #main .col-xs-12 .settings .ripple, html #app .container-fluid #main .col-sm-12 .settings .ripple, html #app .container-fluid #main .col-md-5 .settings .ripple, html #app .container-fluid #main .col-ls-6 .settings .ripple, body #app .container-fluid #main .col-xs-12 .settings .ripple, body #app .container-fluid #main .col-sm-12 .settings .ripple, body #app .container-fluid #main .col-md-5 .settings .ripple, body #app .container-fluid #main .col-ls-6 .settings .ripple {
            display: block;
            position: absolute;
            width: 4px;
            height: 4px;
            top: 100%;
            left: 100%;
            border-radius: 100%;
            -webkit-transition: box-shadow 0.56s cubic-bezier(0.4, 0, 0.2, 1);
            transition: box-shadow 0.56s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: -1;
            will-change: transform; }
          html #app .container-fluid #main .col-xs-12 .settings ul, html #app .container-fluid #main .col-sm-12 .settings ul, html #app .container-fluid #main .col-md-5 .settings ul, html #app .container-fluid #main .col-ls-6 .settings ul, body #app .container-fluid #main .col-xs-12 .settings ul, body #app .container-fluid #main .col-sm-12 .settings ul, body #app .container-fluid #main .col-md-5 .settings ul, body #app .container-fluid #main .col-ls-6 .settings ul {
            display: block;
            padding: 0;
            width: 100%;
            margin: 0; }
            html #app .container-fluid #main .col-xs-12 .settings ul li, html #app .container-fluid #main .col-sm-12 .settings ul li, html #app .container-fluid #main .col-md-5 .settings ul li, html #app .container-fluid #main .col-ls-6 .settings ul li, body #app .container-fluid #main .col-xs-12 .settings ul li, body #app .container-fluid #main .col-sm-12 .settings ul li, body #app .container-fluid #main .col-md-5 .settings ul li, body #app .container-fluid #main .col-ls-6 .settings ul li {
              display: block;
              padding: 0 0 0.5rem 0; }
              html #app .container-fluid #main .col-xs-12 .settings ul li p, html #app .container-fluid #main .col-sm-12 .settings ul li p, html #app .container-fluid #main .col-md-5 .settings ul li p, html #app .container-fluid #main .col-ls-6 .settings ul li p, body #app .container-fluid #main .col-xs-12 .settings ul li p, body #app .container-fluid #main .col-sm-12 .settings ul li p, body #app .container-fluid #main .col-md-5 .settings ul li p, body #app .container-fluid #main .col-ls-6 .settings ul li p {
                display: inline-block;
                line-height: 1.5rem;
                margin: 0 1.25rem 0 0;
                vertical-align: middle;
                -webkit-transition: color 0.56s cubic-bezier(0.4, 0, 0.2, 1);
                transition: color 0.56s cubic-bezier(0.4, 0, 0.2, 1);
                width: calc(100% - 70px); }
          html #app .container-fluid #main .col-xs-12 .settings .button, html #app .container-fluid #main .col-sm-12 .settings .button, html #app .container-fluid #main .col-md-5 .settings .button, html #app .container-fluid #main .col-ls-6 .settings .button, body #app .container-fluid #main .col-xs-12 .settings .button, body #app .container-fluid #main .col-sm-12 .settings .button, body #app .container-fluid #main .col-md-5 .settings .button, body #app .container-fluid #main .col-ls-6 .settings .button {
            display: inline-block;
            position: relative;
            padding: 0 0.75rem;
            height: 2.25rem;
            border: none;
            margin: 0.5rem 0;
            cursor: pointer;
            border-radius: 2px;
            font-size: 1rem;
            text-transform: uppercase;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.84);
            background: none;
            -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            outline: none;
            left: calc(50% - 74px); }
          html #app .container-fluid #main .col-xs-12 .settings .button:hover, html #app .container-fluid #main .col-sm-12 .settings .button:hover, html #app .container-fluid #main .col-md-5 .settings .button:hover, html #app .container-fluid #main .col-ls-6 .settings .button:hover, body #app .container-fluid #main .col-xs-12 .settings .button:hover, body #app .container-fluid #main .col-sm-12 .settings .button:hover, body #app .container-fluid #main .col-md-5 .settings .button:hover, body #app .container-fluid #main .col-ls-6 .settings .button:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28); }
          html #app .container-fluid #main .col-xs-12 .settings .button:active, html #app .container-fluid #main .col-sm-12 .settings .button:active, html #app .container-fluid #main .col-md-5 .settings .button:active, html #app .container-fluid #main .col-ls-6 .settings .button:active, body #app .container-fluid #main .col-xs-12 .settings .button:active, body #app .container-fluid #main .col-sm-12 .settings .button:active, body #app .container-fluid #main .col-md-5 .settings .button:active, body #app .container-fluid #main .col-ls-6 .settings .button:active {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
          html #app .container-fluid #main .col-xs-12 .settings .switch, html #app .container-fluid #main .col-sm-12 .settings .switch, html #app .container-fluid #main .col-md-5 .settings .switch, html #app .container-fluid #main .col-ls-6 .settings .switch, body #app .container-fluid #main .col-xs-12 .settings .switch, body #app .container-fluid #main .col-sm-12 .settings .switch, body #app .container-fluid #main .col-md-5 .settings .switch, body #app .container-fluid #main .col-ls-6 .settings .switch {
            display: inline-block;
            position: relative;
            width: 2.5rem;
            height: 1rem;
            border-radius: 0.5rem;
            background: rgba(0, 0, 0, 0.26);
            -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            vertical-align: top;
            top: 5px;
            cursor: pointer; }
          html #app .container-fluid #main .col-xs-12 .settings .switch::before, html #app .container-fluid #main .col-sm-12 .settings .switch::before, html #app .container-fluid #main .col-md-5 .settings .switch::before, html #app .container-fluid #main .col-ls-6 .settings .switch::before, body #app .container-fluid #main .col-xs-12 .settings .switch::before, body #app .container-fluid #main .col-sm-12 .settings .switch::before, body #app .container-fluid #main .col-md-5 .settings .switch::before, body #app .container-fluid #main .col-ls-6 .settings .switch::before {
            content: '';
            position: absolute;
            top: -0.25rem;
            left: -0.25rem;
            width: 1.5rem;
            height: 1.5rem;
            background: #fafafa;
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28);
            border-radius: 50%;
            -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
          html #app .container-fluid #main .col-xs-12 .settings .switch:active::before, html #app .container-fluid #main .col-sm-12 .settings .switch:active::before, html #app .container-fluid #main .col-md-5 .settings .switch:active::before, html #app .container-fluid #main .col-ls-6 .settings .switch:active::before, body #app .container-fluid #main .col-xs-12 .settings .switch:active::before, body #app .container-fluid #main .col-sm-12 .settings .switch:active::before, body #app .container-fluid #main .col-md-5 .settings .switch:active::before, body #app .container-fluid #main .col-ls-6 .settings .switch:active::before {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28), 0 0 0 1.25rem rgba(128, 128, 128, 0.1); }
          html #app .container-fluid #main .col-xs-12 .settings input:checked + .switch, html #app .container-fluid #main .col-sm-12 .settings input:checked + .switch, html #app .container-fluid #main .col-md-5 .settings input:checked + .switch, html #app .container-fluid #main .col-ls-6 .settings input:checked + .switch, body #app .container-fluid #main .col-xs-12 .settings input:checked + .switch, body #app .container-fluid #main .col-sm-12 .settings input:checked + .switch, body #app .container-fluid #main .col-md-5 .settings input:checked + .switch, body #app .container-fluid #main .col-ls-6 .settings input:checked + .switch {
            background: rgba(139, 195, 74, 0.5); }
          html #app .container-fluid #main .col-xs-12 .settings input:checked + .switch::before, html #app .container-fluid #main .col-sm-12 .settings input:checked + .switch::before, html #app .container-fluid #main .col-md-5 .settings input:checked + .switch::before, html #app .container-fluid #main .col-ls-6 .settings input:checked + .switch::before, body #app .container-fluid #main .col-xs-12 .settings input:checked + .switch::before, body #app .container-fluid #main .col-sm-12 .settings input:checked + .switch::before, body #app .container-fluid #main .col-md-5 .settings input:checked + .switch::before, body #app .container-fluid #main .col-ls-6 .settings input:checked + .switch::before {
            left: 1.25rem;
            background: #8bc34a; }
          html #app .container-fluid #main .col-xs-12 .settings input:checked + .switch:active::before, html #app .container-fluid #main .col-sm-12 .settings input:checked + .switch:active::before, html #app .container-fluid #main .col-md-5 .settings input:checked + .switch:active::before, html #app .container-fluid #main .col-ls-6 .settings input:checked + .switch:active::before, body #app .container-fluid #main .col-xs-12 .settings input:checked + .switch:active::before, body #app .container-fluid #main .col-sm-12 .settings input:checked + .switch:active::before, body #app .container-fluid #main .col-md-5 .settings input:checked + .switch:active::before, body #app .container-fluid #main .col-ls-6 .settings input:checked + .switch:active::before {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.28), 0 0 0 1.25rem rgba(139, 195, 74, 0.2); }
      html #app .container-fluid #footer, body #app .container-fluid #footer {
        color: #fff; }
        html #app .container-fluid #footer .language .box > ul, body #app .container-fluid #footer .language .box > ul {
          list-style: none;
          margin: 0;
          padding: 0; }
        html #app .container-fluid #footer .language .box > ul > li, body #app .container-fluid #footer .language .box > ul > li {
          margin: 0;
          position: relative;
          width: auto;
          background: none;
          display: inline-block; }
          html #app .container-fluid #footer .language .box > ul > li a, body #app .container-fluid #footer .language .box > ul > li a {
            color: #fff; }

@media (min-width: 61.1875em) {
  #app #header .wrapper {
    max-width: 900px; }
  #app #header .wrapper .root-menu {
    overflow: inherit !important;
    top: 100% !important;
    margin-top: 20px !important; }
  #app #header .wrapper .root-menu > ul {
    float: right !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    visibility: visible !important; }
  #app #header .wrapper .root-menu > ul > li {
    margin: 0;
    position: relative;
    width: auto !important;
    background: none;
    display: inline-block;
    padding: 0 !important; }
  #app #header .wrapper .button_container {
    display: none; }
  #app .container-fluid {
    max-width: 900px; } }

@media (min-width: 48.0625em) {
  #app .container-fluid #main .first-xs {
    order: 0; } }
